@page
@model GreenFlux_V15.Models.Connector

<h2>Delete</h2>

<div>
    <h4>Connector</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeStationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChargeStationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identifier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCurrentInAmps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxCurrentInAmps)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
